@inherits LayoutComponentBase

<div>
	<div>
		<NavMenu />
	</div>

	<main>
		<div>
			<a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
		</div>

		<article>
			@Body
		</article>
	</main>
</div>
